* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: lightgrey;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#title {
	font-size: 48px;
	font-weight: 1000;
	margin: 5px 0px 10px 0px;
}

#controls {
	background-color: dimgrey;
	color: white;
	font-size: 16px;
	padding: 10px;
}

#controls-title {
	font-size: 24px;
	font-weight: 700;
}

#controls-container {
	padding: 10px 10px 5px 10px;
	display: flex;
	gap: 15px;
}

#color-controls {
	display: flex;
	flex-direction: column;
}

#size-controls {
	display: flex;
	flex-direction: column;
}

#size-control {
	-webkit-appearance: none;
	width: 200px;
	height: 10px;
	border: 1px solid darkgrey;
	border-radius: 8px;
	background-color: #000000;
}

#grid {
	height: 960px;
	width: 960px;
	margin: 25px;
}

.grid-row {
	display: flex;
}

.grid-cell {
	background-color: #ffffff;
	border: 1px solid #000000;
	border-right: none;
	border-bottom: none;
}

.grid-cell:last-child {
	border-right: 1px solid #000000;
}

.grid-row:last-child {
	border-bottom: 1px solid #000000;
}
